$color-dark-low: #46515e;
$color-dark-mid: #303841;
$color-dark-hig: #1a1f24;
$color-light-low: #eee;
$color-light-mid: #ff7e55;
$color-light-hig: #ff5722;

$icons-size-search-bar: 2.5em;
$icons-size-nav-bar: 1em;

$font-size: 1em;