$color-dark-low: #46515e;
$color-dark-low-transparent: #46515ea4;
$color-dark-mid: #303841;
$color-dark-hig: #1a1f24;
$color-dark-hig-transparent: #1a1f2483;
$color-light-low: #eee;
$color-light-mid: #ff7e55;
$color-light-mid-transparent: #ff7d5523;
$color-light-hig: #ff5722;

// $icons-size-search-bar: 2em;
// $icons-size-nav-bar: 1em;

$font-size: 1em;