.main-footer {
  display: flex;
  flex-direction: column;
  background-color: $color-dark-low;
  color: $color-light-low;
  border-radius: 2em;
  padding: 0.5em;
  height: 150px;

  &__social-networks {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2.5em;
    align-items: center;
    
  }
  
  &__links {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: space-evenly;
    
    
    &__link {
      &:hover {
        border: 1px solid $color-dark-low;
        border-radius: 1em;
        padding: 0.5em 1.2em;
        background-color: $color-dark-low;
      }

      &__text {
        padding-left: 0.4em;
      }

      &__link {
        display: flex;
        height: 100%;
        width: 100%;
        color: $color-light-mid;
        text-decoration: none;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
