.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/bkg/fondo-login.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
  width: 100%;

  color: $color-light-low;
}

.login-container {
  background-color: $color-dark-hig-transparent;
  min-width: 250px;
  max-width: 900px;
  width: 80%;
  padding: 50px 30px;
  border-radius: 2em;

  &__tittle {
    color: $color-light-mid;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2em;
    font-weight: bold;
  }

  &__form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    & label {
      color: $color-light-low;
      font-size: 1.5em;
      margin-bottom: 5px;
    }

    & input {
      background: $color-dark-low-transparent;
      border-radius: 0.3em;
      border: none;
      border-bottom: 1px solid $color-light-low;
      outline: none;
      padding: 0.5em;
      color: $color-light-low;
      font-size: 1.5em;

      &::selection {
        background-color: $color-light-mid;
        color: $color-light-low;
      }
    }
  }

  &__form__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__button {
      outline: none;
      font-weight: bold;
      padding: 0.5em 1em;
      border-radius: 1em;
      background-color: $color-light-mid;
      color: $color-dark-mid;
      cursor: pointer;
      width: 75%;
      margin-bottom: 1em;

      &:focus {
        outline: 1px solid $color-dark-low;
      }

      &:hover {
        background-color: $color-dark-mid;
        color: $color-light-low;
      }
    }
  }
}

/**********************************************
************  Media Queries  ******************
***********************************************/

/******************************/
/*********  1000px ************/
/******************************/
@media (max-width: 1000px) {
  .main-login {
    background-size: cover;
  }

  .login-container {
    max-width: 700px;
    width: 80%;
  }
}

/******************************/
/*********   720px ************/
/******************************/
@media (max-width: 720px) {
  .login-container {
    max-width: 600px;
    width: 90%;

    &__tittle {
      margin-bottom: 30px;
      font-size: 1.5em;
    }

    &__form__input {
      margin-bottom: 10px;

      & label {
        font-size: 1em;
        margin-bottom: 3px;
      }

      & input {
        padding: 0.3em;
        font-size: 1.2em;
      }
    }

    &__form__buttons {
      &__button {
        width: 50%;
        margin-bottom: 1em;
      }
    }
  }
}

/******************************/
/*********   300px ************/
/******************************/
@media (max-width: 300px) {
  .login-container {
    max-width: 300px;
    width: 95%;

    &__tittle {
      margin-bottom: 10px;
      font-size: 1.2em;
    }

    &__form__input {
      margin-bottom: 5px;

      & label {
        font-size: 0.8em;
      }

      & input {
        font-size: 0.8em;
      }
    }
  }
}
