.main-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-productos {
  display: flex;
  flex-direction: row;
  gap: 1em;

  &__filtros {
    height: 100%;
    width: 300px;
    background-color: $color-light-mid-transparent;
    border-radius: 1em;
    font-size: 1em;
    padding-bottom: 1em;

    & h2 {
      margin-top: 0.5em;
      text-align: center;
    }

    & p {
      padding-left: 1em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    &__lista {
      & dt {
        padding-bottom: 0.2em;
        font-weight: bold;
      }

      & dd {
        margin-left: 1em;
      }
    }
  }

  &__cards {
    width: 100%;
    background-color: $color-light-low;
    border-radius: 1em;

    &__header {
      & h2 {
        margin-top: 0.5em;
        text-align: center;
      }
    }

    &__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 0.5em;
      perspective: 1000px;
      gap: 2em;
    }
  }
}

.container__acordeon__item {
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin: 0;

  &__title {
    margin: 0;
    padding: 0 1rem;
    border-radius: 1em;

    &:hover {
      background-color: $color-light-mid;
      border-radius: 1em;
    }
  }

  &__content {
    display: none;
  }
}

.container__acordeon__item--show .container__acordeon__item__content {
  display: block;
  margin-left: 1em;
}

/**********************************************
************  Media Queries  ******************
***********************************************/

/******************************/
/*********  1000px ************/
/******************************/
@media (max-width: 1000px) {
  .section-productos {
    gap: 0.5em;

    &__cards {
      &__container {
        gap: 1.5em;
      }
    }
  }
}

/******************************/
/*********   720px ************/
/******************************/
@media (max-width: 720px) {
  .section-productos {
    display: flex;
    flex-direction: column;

    &__filtros {
      width: 100%;
      font-size: 0.9em;
    }

    &__cards {
      &__container {
        gap: 1em;
      }
    }
  }
}

/******************************/
/*********   300px ************/
/******************************/
@media (max-width: 300px) {
  .section-productos {
    &__filtros {
      font-size: 0.8em;
    }

    &__cards {
      &__container {
        gap: 0.5em;
      }
    }
  }
}
