.container-cart {
  padding: 1em;
  position: fixed;
  background-color: #f1f2f3;
  top: 150px;
  bottom: 150px;
  left: 50px;
  right: 50px;
  z-index: 1;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
  display: none;

  &--open {
    display: block;
  }
}
